# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# IDE
.idea
.vscode
*.iml

# Git
.git
.gitignore

# Docs
README.md
AGENTS.md
*.md

# Test
coverage/
__screenshots__/

# Environment
.env
.env.*

